  .sidebar{
  position: absolute;
  background: #E6E6E6;;
  width: 120px;
  height: 100%;

  &_menu{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 0 ;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    list-style-type: none;


    &_item{
      width: 70px;
      height: 70px;
      margin-top: 30px;
      background: #72FF01;
      border-radius: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s all;
      &:hover{
        background: #4E30DD;
      }
    }
  }
  &_logo{
    margin-bottom: 50%;
    width: 70px;
    height: 70px;
  }
}